# Al final 2>&1 es para juntar los logs de errores y output en el mismo archivo.
# 0 * * * * root /usr/local/bin/php /app/bin/console app:tickets:list >> /app/docker/logs/cron/cron_stdout.log 2>&1
# no borrar esta línea